// Globals
// $body-font-family: 'Work Sans', serif;

// Variables must come before the import
$heading-font-family: 'Roboto Slab', serif;
$headings: (
  'h1': (
    'size': 3em,
    'line-height': 1.1
  ),
  'h2': (
    'size': 2em,
    'line-height': 1.1
  ),
  'h3': (
    'size': 1.3em,
    'line-height': 1.1
  )
);
$card-title-word-break: unset;
$material-light: (
  'text-color': #192d4e,
  'text': (
      'primary': #192d4e,
      'secondary': rgba(#192d4e, 0.6),
      'disabled': rgba(#192d4e, 0.38)
    )
);