<template>
  <div class="admin-page">
    <h1>Таблицы</h1>
    <AdminTable v-for="table in tables" :key="table.name" :table="table" />
  </div>
</template>

<script>
import api from "@/api/api.js";
import AdminTable from "@/components/AdminTable.vue";
export default {
  name: "AdminPage",
  components: {
    AdminTable
  },
  data: () => ({
    dialog: false,
    tables: [],
    editedIndex: -1,
    editedItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0
    },
    defaultItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Добавить запись"
        : "Редактировать запись";
    },
    headers() {
      let headersData = [];
      for (let item in this.table.headers) {
        headersData.push({ text: item, value: item });
      }
      return headersData;
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  async created() {
    try {
      const tables = await api.getDBMetadata();
      this.tables = tables;
    } catch (e) {
      console.log(e);
    }
  },

  methods: {
    initialize() {}
  }
};
</script>
