<template>
  <v-data-table
    :headers="headers"
    :items="tableData"
    sort-by="id"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>{{ table.title }}</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="1100px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on"
              >Добавить запись</v-btn
            >
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ table.name }} - {{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col v-for="label in labels" :key="label" cols="12" md="6">
                    <v-text-field
                      v-model="editedItem[label]"
                      :label="label"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>
      <v-icon small @click="deleteItem(item.id)">mdi-delete</v-icon>
    </template>
    <!-- <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">Reset</v-btn>
    </template> -->
  </v-data-table>
</template>

<script>
import api from "@/api/api.js";

export default {
  name: "AdminTable",
  props: {
    table: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    dialog: false,
    tableData: [],
    editedIndex: -1,
    editedItem: {},
    defaultItem: {},
    immutableFields: ["id"]
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Создать запись"
        : "Редактировать запись";
    },
    keys() {
      return Object.keys(this.table.headers);
    },
    headers() {
      let headersData = [];
      for (let item of this.keys) {
        headersData.push({ text: item, value: item });
      }
      headersData.push({ text: "actions", value: "actions" });
      return headersData;
    },
    labels() {
      let names = [...this.keys];
      return names.filter(name => !this.immutableFields.includes(name));
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  created() {
    this.getTableData();
    for (let item of this.keys) {
      this.editedItem[item] = "";
      this.defaultItem[item] = "";
    }
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.tableData.indexOf(item);
      this.editedItem = { ...item };
      this.dialog = true;
    },
    async getTableData() {
      try {
        this.tableData = await api.getDBTable(this.table.name);
      } catch (e) {
        console.log(e);
      }
    },
    async deleteItem(item) {
      if (!confirm("Удалить данную запись?")) return;
      try {
        await api.deleteRecordFromDB(this.table.name, item);
        this.getTableData();
      } catch (e) {
        console.log(e);
      }
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    async save() {
      try {
        if (this.editedIndex > -1) {
          await api.editRecordToDB(this.table.name, this.editedItem);
        } else {
          await api.addRecordToDB(this.table.name, this.editedItem);
        }
        this.close();
        this.getTableData();
      } catch (e) {
        console.log(e);
      }
    }
  }
};
</script>
