<template>
  <v-app>
    <router-view></router-view>
  </v-app>
</template>

<script>
export default {
  name: "App"
};
</script>
<style lang="scss">
.v-main {
  padding: 0 !important;
}
.filler {
  height: 1500px;
}
.v-list {
  background-color: unset !important;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;
}
</style>
